#djq {
    text-align: center;
    font-size: 50px;
    color: rgb(42, 8, 42);
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url("https://us.123rf.com/450wm/kritchanut/kritchanut1506/kritchanut150600270/41302990-light-blue-abstract-background-with-radial-gradient-effect.jpg?ver=6");
}
body {
  background-color: lightgray;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: bolder;
    font-size: 60px;
    color: black;
  }

  .centered2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: bolder;
    font-size: 60px;
    color: black;
  }