.list-group-item {
  line-height: 2.5;
}
#cloud {
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/UhGJuGw/cartoon-clouds-and-blue-sky_e1bx3ypee__F0007.png")
}
nav a:hover{
  background: #0aaae9;
  color: white;
  border-radius: 5%;
}
h1 {
  font-style: oblique
}


.wrapper {
position: absolute;
top:55%;
left:50%;
transform: translate(-50%, -50%);
width: 80%;
}

#Layer_1 {
  width: 100%;
}

path {
  stroke: #fff;
  /* fill: #fff; */
  stroke-dasharray: 970;
  opacity: 10;
  animation: animate 3s cubic-bezier(0,0.23,1,.1);
}



@keyframes animate {
  0% {
      opacity: 0;
      fill: none;
      stroke-dashoffset: 970;
  }

  30% {
      opacity: 10;
      fill: none;
      stroke-dashoffset: 970;
  }

  90% {
      fill: rgba(255, 255, 255, 0);
  }

  100% {
      opacity: 10;
      fill: rgba(255, 255, 255, 0);
      stroke-dashoffset: 0;
  }
