.list-group-item {
  line-height: 2.5;
}
#cloud {
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/UhGJuGw/cartoon-clouds-and-blue-sky_e1bx3ypee__F0007.png")
}
nav a:hover{
  background: #0aaae9;
  color: white;
  border-radius: 5%;
}
h1 {
  font-style: oblique
}

.scaling-svg-container {
  display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%; 
	vertical-align: middle; 
	overflow: hidden; 
 }
 .scaling-svg {
  position: absolute; 
  height: 100%; 
  width: 100%; 
  left: 0; 
  top: 0;
 }




path {
  stroke: #000000;
  /* fill: #fff; */
  stroke-dasharray: 153;
  opacity: 10;
  animation: animate 3s cubic-bezier(0,0.23,1,.1);
}



@keyframes animate {
  0% {
      opacity: 0;
      fill: none;
      stroke-dashoffset: 153;
  }

  30% {
      opacity: 10;
      fill: none;
      stroke-dashoffset: 153;
  }

  90% {
      fill: rgba(255, 255, 255, 0);
  }

  100% {
      opacity: 10;
      fill: rgba(255, 255, 255, 0);
      stroke-dashoffset: 0;
  }
}